@charset "UTF-8";

* {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
    /* height: 100%; */

}

body {
    background-image: linear-gradient(to left, #7ecefd, #2185c5);
}

main {
    background-color: #fff6e5;
    border-radius: 20px;
    box-shadow: 5px 5px 15px #2e4b5c;
    width: 600px;
    padding: 10px;
    margin: auto; 
}

h1 {
    color: #ff7f66;
    text-align: center;
    text-shadow: 1px 1px 2px #944a3b;
}

h2 {
    color: #3e454c;
}

p {
    text-align: justify;
}